:root {
    --font-size-title: 28px;
    --font-size-subtitle: 18px;
    --font-size-text: 15px; 

    --font-weight-bold: 700;
    --font-weight-normal: 500;

    --color-bg: rgb(227, 227, 227);
    --color-bg-variant:rgb(173, 173, 173);
    --color-primary: rgb(255, 88, 59);
    --color-white: #fff;

    --padding-primary: 20px;

    --button-radius: 48px;
    --button-height: 60px;
}

body {
    color: black;
    background-color: var(--color-bg);
}

* {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    outline: none;
    box-sizing: border-box;
}

.button {
    background-color: var(--color-primary);
    color: var(--color-white);
    text-align: center;
    padding: 10px;
    height: var(--button-height);
    border-radius: var(--button-radius);
    font-size: var(--font-size-subtitle);
}