.form-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 700px;
    padding: 25px 20px;
    background-color: #fff;
    border-radius: 10px;
    margin: 275px auto;

    @media screen and (max-width: 720px) {
        width: 90%;
    }

    &__error-msg {
        color: red;
        text-align: left;
        width: 100%;
        margin-bottom: 5px;
    }

    &__title {
        > h2 {
            font-size: var(--font-size-title);
            font-weight: var(--font-weight-bold);
            margin-bottom: 20px;
        }
        
        > p {
            font-size: var(--font-size-subtitle);
            font-weight: var(--font-weight-normal);
            margin-bottom: 40px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;

        &__reject-text {
            color: var(--color-red);
            text-align: left;
            margin-top: -10px;
        }

        &__item {
            display: flex;
            flex-direction: column;
            text-align: left;
            
            &__title {
                font-size: var(--font-size-subtitle);
                font-weight: var(--font-weight-bold);
                margin-bottom: 5px;
            }

            &__input-button-shadow-normal {
                box-shadow: 0 0 4px 1px var(--color-primary);
            }
            &__input-button-shadow-reject {
                box-shadow: 0 0 4px 1px var(--color-red);
            }

            &__input {
                width: 100%;
                position: relative;
                background-color: var(--color-bg);
                padding: 10px 15px;
                height: var(--button-height);
                border-radius: var(--button-radius);
                font-size: var(--font-size-subtitle);

                > input {
                    width: 100%;
                    height: 100%;
                    padding: 0 10px;
                    font-size: var(--font-size-subtitle);
                    cursor: normal;
                }

                > button {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 17px;
                    cursor: pointer;
                    
                    > svg {
                        height: 22px;
                        width: 22px;
                        color: var(--color-bg-variant);
                    }
                }
            }
        }

        &__submit {
            text-transform: uppercase;
            cursor: pointer;
        }
    }
}